@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: rgb(4, 12, 24);
	margin-top: 100px;
}

.app {
	display: flex;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	gap: 0 40px;
}
.app__col-4 {
	width: 40%;
}
.app__item-4 .card__style {
	position: relative;
	padding: 30px;
	height: 59.6%;
}
.app__item-4 .card__style .card__btn {
	position: absolute;
	bottom: 27px;
}
.app__item-4 .card__title {
	font-size: 28px;
	padding-top: 10px;
	padding-right: 10%;
	line-height: 40px;
}
.app__col-8 {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	margin: -20px;
}
.app__col-6 {
	width: 50%;
	padding: 20px;
}
.app__col-8 .card__title {
	padding-top: 10px;
}
.app__col-8 .card__style {
	position: relative;
	padding: 12px 25px;
	height: 59.6%;
}
.app__col-8 .card__style .card__btn {
	position: absolute;
	bottom: 13px;
}
